* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
  }

.container {
  max-width: 120rem;
  margin: 0 auto;
}
  

.header-container {
    padding: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .products-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .product-card {
    width: 200px;
    height: auto;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #d9d9d9;
    padding: 30px;
    border-radius: 35px;
    text-align: center;
    box-shadow: 10px 8px 30px rgba(0, 0, 0, 0.268);
    transition: 0.2s;
  }
  
  .product-card:hover {
    transform: scale(1.1);
    background-color: #e6e6e6;
  }
  
  .product-card img {
    width: 200px;
  }
  
  .product-card span {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .product-card button {
    background-color: #a513ff;
    padding: 13px;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  
  .product-card button:hover {
    background-color: #b53efe;
  }
  
  .price-product {
    font-weight: bold;
  }
  
  @media (max-width: 1000px) {
    .products-container {
      flex-direction: column;
    }
    .product-card {
      margin-right: 0;
      margin-bottom: 30px;
      width: 60%;
    }
    
  }
  