:root {
  --backgroundNavColor: #1d1f27;
  --colorWhite: #ffffff;
  --backgroundColorCartItemsCounter: rgba(255, 255, 255, 0);
  --colorLinksHover: #d0d2d8ce;
}

nav {
  color: var(--colorWhite);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 13px;
  padding-left: 30px;
  background-color: var(--backgroundNavColor);
  font-weight: bold;
}

.nav-name {
  flex: 1;
  text-transform: uppercase;
  display: flex;
  align-items: center;

}

.cartItems-counter {
  display: block;
  background-color: var(--backgroundColorCartItemsCounter);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  color: rgb(255, 166, 0);
  font-weight: bolder;
  text-align: center;
  font-size: 0.8em;
  float: right;
  position: relative;
  top: -13px;
  right: 20px;
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.icon {
  color: var(--colorWhite);
  font-size: 1.4rem;
  transition: 0.2s;
}

.home-link {
  color: inherit;
  text-decoration: none;
  transition: 0.2s;
}

.home-link:hover {
  color: var(--colorLinksHover);
}

.icon:hover {
  cursor: pointer;
  color: var(--colorLinksHover);
}
