.products-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  width: 200px;
  height: 300px;
  margin-left: 30px;
  background-color: #d9d9d9;
  padding: 30px;
  border-radius: 35px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.268);
}

.product-card img {
  width: 200px;
}

.product-card button {
  background-color: #a513ff;
  padding: 13px;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.2s;
}

.product-card button:hover {
  background-color: #b53efe;
}

.product-card span {
  display: flex;
  flex-direction: column;
}

.price-product {
  font-weight: bold;
}
