.product-card {
    width: 200px;
    height: auto;
    margin-right: 30px;
    margin-bottom: 35px;
    background-color: #e0e0e0;
    padding: 30px;
    border-radius: 35px;
    box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.268);
    transition: 0.2s;
  }
  
  .product-card:hover {
    transform: scale(1.1);
    background-color: #eeeeee;
  }
  
  .product-card img {
    width: 100%;
    max-width: 300px;
  }
  
  .product-card span {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .product-card button {
    background-color: #a513ff;
    padding: 13px;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  
  .product-card button:hover {
    background-color: #b53efe;
  }
  
  .price-product {
    font-weight: bold;
  }
  
  .cart-icon {
    margin-left: 8px;
    padding-left: 5px;
    border-left: 1px solid rgba(255, 255, 255, 0.438);
  }
  
  .link-cart {
    text-decoration: none;
    color: inherit;
  }
  
  @media (max-width: 600px) {
    .products-container {
      flex-direction: column;
    }
    .product-card {
      margin-right: 0;
      margin-bottom: 30px;
      width: 60%;
    }
  }
  