.product-card {
  width: 200px;
  height: 60vh;
  margin-right: 30px;
  margin-bottom: 35px;
  border: 1px solid #cfcfcfb4;
  padding: 30px;
  border-radius: 5px;
  transition: 0.2s;
  position: relative;
}

.product-card img {
  width: 100%;
  max-width: 300px;
  padding-bottom: 30px;
}

.product-card span {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.product-description {
  font-size: 0.8rem;
}

.product-card button {
  background-color: #a513ff;
  width: 80%;
  position: absolute;
  bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #b53efe;
}

.product-price {
  font-weight: bold;
}

.cart-icon {
  margin-left: 8px;
  padding-left: 5px;
  border-left: 1px solid rgba(255, 255, 255, 0.438);
}

.link-cart {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 600px) {
  .products-container {
    flex-direction: column;
  }
  .product-card {
    margin-right: 0;
    margin-bottom: 30px;
    width: 60%;
    height: 65vh;
  }
}
