.notFound {
  margin: 60px auto;
  text-align: center;
  width: 80%;
}

.notFound-error {
  margin-top: 50px;
  font-size: 5rem;
}


.sociais {
  font-size: 2rem;
  margin-top: 40vh;
}

.sociais a {
  color: black;
  margin-right: 10px;
}

.sociais a:hover {
  color: rgb(37, 37, 37);
}

@media (max-width: 600px) {
  .notFound-image img {
    width: 80%;
  }
}
