:root {
  --borderCartItemColor: #eaeaec;
  --colorCartItemPrice: #ff2e2e;
  --backgroundButtonColor: #1d221c;
  --backgroundImageCartItemColor: #e0e0e063;
  --colorWhite: #ffffff;
  --borderRadius: 3px;
}

.cartItems-container {
  margin-top: 60px;
  margin-left: 50px;
  width: 55%;
  display: inline-block;
}

.cartItems {
  display: flex;
  border-top: 1px solid var(--borderCartItemColor);
  padding: 20px;
  position: relative;
}

.cartItem-image {
  background-color: var(--backgroundImageCartItemColor);
  border-radius: var(--borderRadius);
  margin-right: 15px;
  padding: 10px;
}

.cartItem-image img {
  width: 130px;
}

.cartItem-price {
  font-weight: bold;
  position: absolute;
  left: 190px;
  bottom: 20%;
}

.cartItem-description {
  color: rgb(70, 70, 70);
  margin-bottom: 10px;
}

.cartItem-description h4 {
  margin-bottom: 10px;
}

.cartItem-functions {
  position: absolute;
  left: 90%;
  display: flex;
  padding: 5px;
  border: 2px solid var(--borderCartItemColor);
  background-color: var(--colorWhite);
}

.cartItem-functions button {
  background-color: inherit;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.payment {
  display: inline-block;
  position: absolute;
  top: 130px;
  bottom: 0;
  padding: 25px;
  width: 400px;
  height: 50%;
  background-color: #f9fafc;
  margin-left: 50px;
}

.payment-item {
  border-bottom: 1px solid var(--borderCartItemColor);
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.payment-button {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-button button {
  background-color: #5046e5;
  width: 90%;
  color: var(--colorWhite);
  padding: 13px;
  font-size: 1.2rem;
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: 0.2s;
}

.payment-button button:hover {
  background-color: #6157f0;
}

.emptyCart {
  margin: 50px auto;
  width: 40%;
  padding: 20px;
  text-align: center;
  font-size: 1.3rem;
  border: 1px solid var(--borderCartItemColor);
}

@media (max-width: 986px) {
  .payment {
    display: block;
    position: inherit;
    width: 80%;
    margin: 20px auto;
  }

  .cartItems-container {
    width: 90%;
    margin: 30px auto;
    display: block;
  }
}

@media (max-width: 600px) {
  .cartItems {
    padding-bottom: 80px;
  }

  .cartItem-price {
    left: 125px;
    margin-bottom: 20px;
  }

  .cartItem-functions {
    left: 125px;
    bottom: 10px;
  }

  .cartItem-image img {
    width: 70px;
  }
}
